<!-- 内部 -->
<% if last.present? && last.room_name == "玄関" %>
  <option data-group="inner" value="玄関" selected>玄関</option>
<% else %>
  <option data-group="inner" value="玄関">玄関</option>
<% end %>

<% if last.present? && last.room_name == "エントランス" %>
  <option data-group="inner" value="エントランス" selected>エントランス</option>      
<% else %>
  <option data-group="inner" value="エントランス">エントランス</option>
<% end %>

<% if last.present? && last.room_name == "入口" %>
  <option data-group="inner" value="入口" selected>入口</option>
<% else %>
  <option data-group="inner" value="入口">入口</option>
<% end %>

<% if last.present? && last.room_name == "踏込" %>
  <option data-group="inner" value="踏込" selected>踏込</option>
<% else %>
  <option data-group="inner" value="踏込">踏込</option>
<% end %>

<% if last.present? && last.room_name == "ホール" %>
  <option data-group="inner" value="ホール" selected>ホール</option>
<% else %>
  <option data-group="inner" value="ホール">ホール</option>
<% end %>

<% if last.present? && last.room_name == "居間" %>
  <option data-group="inner" value="居間" selected>居間</option>      
<% else %>
  <option data-group="inner" value="居間">居間</option>
<% end %>

<% if last.present? && last.room_name == "リビング" %>
  <option data-group="inner" value="リビング" selected>リビング</option>
<% else %>
  <option data-group="inner" value="リビング">リビング</option>
<% end %>

<% if last.present? && last.room_name == "廊下" %>
  <option data-group="inner" value="廊下" selected>廊下</option>
<% else %>
  <option data-group="inner" value="廊下">廊下</option>
<% end %>

<% if last.present? && last.room_name == "洋室" %>
  <option data-group="inner" value="洋室" selected>洋室</option>
<% else %>
  <option data-group="inner" value="洋室">洋室</option>
<% end %>

<% if last.present? && last.room_name == "洋室②" %>
  <option data-group="inner" value="洋室②" selected>洋室②</option>      
<% else %>
  <option data-group="inner" value="洋室②">洋室②</option>
<% end %>

<% if last.present? && last.room_name == "洋室③" %>
  <option data-group="inner" value="洋室③" selected>洋室③</option>
<% else %>
  <option data-group="inner" value="洋室③">洋室③</option>
<% end %>

<% if last.present? && last.room_name == "洋室④" %>
  <option data-group="inner" value="洋室④" selected>洋室④</option>
<% else %>
  <option data-group="inner" value="洋室④">洋室④</option>
<% end %>

<% if last.present? && last.room_name == "洋間" %>
  <option data-group="inner" value="洋間" selected>洋間</option>
<% else %>
  <option data-group="inner" value="洋間">洋間</option>
<% end %>

<% if last.present? && last.room_name == "板間" %>
  <option data-group="inner" value="板間" selected>板間</option>      
<% else %>
  <option data-group="inner" value="板間">板間</option>
<% end %>

<% if last.present? && last.room_name == "和室" %>
  <option data-group="inner" value="和室" selected>和室</option>
<% else %>
  <option data-group="inner" value="和室">和室</option>
<% end %>

<% if last.present? && last.room_name == "和室②" %>
  <option data-group="inner" value="和室②" selected>和室②</option>
<% else %>
  <option data-group="inner" value="和室②">和室②</option>
<% end %>

<% if last.present? && last.room_name == "和室③" %>
  <option data-group="inner" value="和室③" selected>和室③</option>
<% else %>
  <option data-group="inner" value="和室③">和室③</option>
<% end %>

<% if last.present? && last.room_name == "和室④" %>
  <option data-group="inner" value="和室④" selected>和室④</option>      
<% else %>
  <option data-group="inner" value="和室④">和室④</option>
<% end %>

<% if last.present? && last.room_name == "1-2F階段室" %>
  <option data-group="inner" value="1-2F階段室" selected>1-2F階段室</option>
<% else %>
  <option data-group="inner" value="1-2F階段室">1-2F階段室</option>
<% end %>

<% if last.present? && last.room_name == "2-3F階段室" %>
  <option data-group="inner" value="2-3F階段室" selected>2-3F階段室</option>
<% else %>
  <option data-group="inner" value="2-3F階段室">2-3F階段室</option>
<% end %>

<% if last.present? && last.room_name == "縁側" %>
  <option data-group="inner" value="縁側" selected>縁側</option>
<% else %>
  <option data-group="inner" value="縁側">縁側</option>
<% end %>

<% if last.present? && last.room_name == "広緑" %>
  <option data-group="inner" value="広緑" selected>広緑</option>      
<% else %>
  <option data-group="inner" value="広緑">広緑</option>
<% end %>

<% if last.present? && last.room_name == "便所" %>
  <option data-group="inner" value="便所" selected>便所</option>
<% else %>
  <option data-group="inner" value="便所">便所</option>
<% end %>

<% if last.present? && last.room_name == "洗面所" %>
  <option data-group="inner" value="洗面所" selected>洗面所</option>
<% else %>
  <option data-group="inner" value="洗面所">洗面所</option>
<% end %>
  
<% if last.present? && last.room_name == "脱衣所" %>
  <option data-group="inner" value="脱衣所" selected>脱衣所</option>
<% else %>
  <option data-group="inner" value="脱衣所">脱衣所</option>
<% end %>
  
<% if last.present? && last.room_name == "浴室" %>
  <option data-group="inner" value="浴室" selected>浴室</option>      
<% else %>
  <option data-group="inner" value="浴室">浴室</option>
<% end %>

<% if last.present? && last.room_name == "勝手口" %>
  <option data-group="inner" value="勝手口" selected>勝手口</option>
<% else %>
  <option data-group="inner" value="勝手口">勝手口</option>
<% end %>  
  
<% if last.present? && last.room_name == "DK" %>
  <option data-group="inner" value="DK" selected>DK</option>
<% else %>
  <option data-group="inner" value="DK">DK</option>
<% end %>  

<% if last.present? && last.room_name == "台所" %>
  <option data-group="inner" value="台所" selected>台所</option>
<% else %>
  <option data-group="inner" value="台所">台所</option>
<% end %>  

<% if last.present? && last.room_name == "LDK" %>
  <option data-group="inner" value="LDK" selected>LDK</option>      
<% else %>
  <option data-group="inner" value="LDK">LDK</option>
<% end %>  

<% if last.present? && last.room_name == "物置" %>
  <option data-group="inner" value="物置" selected>物置</option>
<% else %>
  <option data-group="inner" value="物置">物置</option>
<% end %>  
  
<% if last.present? && last.room_name == "納戸" %>  
  <option data-group="inner" value="納戸" selected>納戸</option>
<% else %>
  <option data-group="inner" value="納戸">納戸</option>
<% end %>  
  
<% if last.present? && last.room_name == "倉庫" %>    
  <option data-group="inner" value="倉庫" selected>倉庫</option>
<% else %>
  <option data-group="inner" value="倉庫">倉庫</option>
<% end %>  
  
<% if last.present? && last.room_name == "店舗" %>      
  <option data-group="inner" value="店舗" selected>店舗</option>    
<% else %>
  <option data-group="inner" value="店舗">店舗</option>
<% end %>    

<% if last.present? && last.room_name == "事務所" %>        
  <option data-group="inner" value="事務所" selected>事務所</option>
<% else %>
  <option data-group="inner" value="事務所">事務所</option>
<% end %>   
  
<% if last.present? && last.room_name == "事務室" %>    
  <option data-group="inner" value="事務室" selected>事務室</option>
<% else %>
  <option data-group="inner" value="事務室">事務室</option>
<% end %>   
  
<% if last.present? && last.room_name == "湯沸室" %>      
  <option data-group="inner" value="湯沸室" selected>湯沸室</option>
<% else %>
  <option data-group="inner" value="湯沸室">湯沸室</option>
<% end %>   
  
<% if last.present? && last.room_name == "給湯室" %>      
  <option data-group="inner" value="給湯室" selected>給湯室</option>      
<% else %>
  <option data-group="inner" value="給湯室">給湯室</option>
<% end %>   
    
<% if last.present? && last.room_name == "土間" %>      
  <option data-group="inner" value="土間" selected>土間</option>
<% else %>
  <option data-group="inner" value="土間">土間</option>
<% end %>     
  
<% if last.present? && last.room_name == "その他" %>       
  <option data-group="inner" value="その他" selected>その他</option>
<% else %>
  <option data-group="inner" value="その他">その他</option>
<% end %>    