<!-- 外部 -->
<% if last.present? && last.room_name == "外部北面" %>
  <option data-group="outter" value="外部北面" selected>外部北面</option>
<% else %>
  <option data-group="outter" value="外部北面">外部北面</option>
<% end %>

<% if last.present? && last.room_name == "外部東面" %>
  <option data-group="outter" value="外部東面" selected>外部東面</option>
<% else %>
  <option data-group="outter" value="外部東面">外部東面</option>
<% end %>

<% if last.present? && last.room_name == "外部南面" %>
  <option data-group="outter" value="外部南面" selected>外部南面</option>
<% else %>
  <option data-group="outter" value="外部南面">外部南面</option>
<% end %>

<% if last.present? && last.room_name == "外部西面" %>
  <option data-group="outter" value="外部西面" selected>外部西面</option>
<% else %>
  <option data-group="outter" value="外部西面">外部西面</option>
<% end %>

<% if last.present? && last.room_name == "塀北" %>
  <option data-group="outter" value="塀北" selected>塀北</option>
<% else %>
  <option data-group="outter" value="塀北">塀北</option>
<% end %>

<% if last.present? && last.room_name == "塀北（内）" %>
  <option data-group="outter" value="塀北（内）" selected>塀北（内）</option>
<% else %>
  <option data-group="outter" value="塀北（内）">塀北（内）</option>
<% end %>

<% if last.present? && last.room_name == "塀東" %>
  <option data-group="outter" value="塀東" selected>塀東</option>
<% else %>
  <option data-group="outter" value="塀東">塀東</option>
<% end %>

<% if last.present? && last.room_name == "塀東（内）" %>
  <option data-group="outter" value="塀東（内）" selected>塀東（内）</option>
<% else %>
  <option data-group="outter" value="塀東（内）">塀東（内）</option>
<% end %>

<% if last.present? && last.room_name == "塀南" %>
  <option data-group="outter" value="塀南" selected>塀南</option>
<% else %>
  <option data-group="outter" value="塀南">塀南</option>
<% end %>

<% if last.present? && last.room_name == "塀南（内）" %>
  <option data-group="outter" value="塀南（内）" selected>塀南（内）</option>      
<% else %>
  <option data-group="outter" value="塀南（内）">塀南（内）</option>
<% end %>

<% if last.present? && last.room_name == "塀西" %>
  <option data-group="outter" value="塀西" selected>塀西</option>
<% else %>
  <option data-group="outter" value="塀西">塀西</option>
<% end %>

<% if last.present? && last.room_name == "塀西（内）" %>
  <option data-group="outter" value="塀西（内）" selected>塀西（内）</option>      
<% else %>
  <option data-group="outter" value="塀西（内）">塀西（内）</option>
<% end %>

<% if last.present? && last.room_name == "擁壁" %>
  <option data-group="outter" value="擁壁" selected>擁壁</option>
<% else %>
  <option data-group="outter" value="擁壁">擁壁</option>
<% end %>

<% if last.present? && last.room_name == "その他" %>
  <option data-group="outter" value="その他" selected>その他</option>
<% else %>
  <option data-group="outter" value="その他">その他</option>
<% end %>