<ol class="breadcrumb">
  <li><%= link_to 'HOME', root_path %></li>
  <li><%= link_to @investigation.construction_name, @investigation %></li>
  <li class="active">新規家屋登録</li>
</ol>

<h2 class="text-center">新規家屋登録</h2>
<%= render 'houses/form' %>