<ol class="breadcrumb">
  <li><%= link_to 'HOME', root_path %></li>
  <li><%= link_to 'マスター一覧', choices_path %></li>
  <li class="active">編集</li>
</ol>

<h2 class="text-center">編集</h2>

<%= render 'choices/form' %>