<ol class="breadcrumb">
  <li><%= link_to 'HOME', root_path %></li>
  <li><%= link_to 'ユーザー一覧', users_path %></li>
  <li class="active">新規ユーザー登録</li>
</ol>

<h2 class="text-center">新規ユーザー登録</h2>

<%= render 'users/form' %>