<% if survey_type == "pre" %>
  <% survey_name = "事前" %>
<% elsif survey_type == "ongoing" %>
  <% survey_name = "事中" %>
<% elsif survey_type == "after" %>
  <% survey_name = "事後" %>
<% end %>

<div class="page">
  <h1 class="text-center"><%= survey_name %>調査報告書</h1>
  <p>工事名：<%= @investigation.construction_name %></p>
  <p>調査場所：<%= @investigation.place %></p>
  
  <p>-調査目的-</p>
  <p>本調査（建物等の損傷箇所の事前調査）は、損傷箇所の変化および損傷箇所の新たな発生が上記の工事によるものか否か又、その程度について調査を実施したものである。</p>

  <p>-調査方法-</p>
  <p>本調査は、事前調査の資料をもとに比較、検討を行い、立会人（所有者または居住者）よりの指摘箇所の確認および調査を実施したものである。</p>
  
  <p>-調査対象および項目-</p>
  <p>本調査（事前調査）は、事前調査に準じて行うものである。調査家屋配置図に示す範囲の建物（工作物を含む）につき当該工事j施工後の状況調査を行い、１棟ごとに次の各項目に係わる測量・記録・写真撮影を行うものとした。</p>
  
  <p>-調査結果の概要-</p>
  <p>建物配置の状況、棟別構造規模は、別紙図面および調査表のとおりである。</p>
  <p>（１）建物・工作物の水準および傾きについての調査結果は、別紙図面および調査表のとおりである。</p>
  <p>（２）仕上げ面についての調査結果は、別紙「損傷調査書」および「写真撮影台帳」のとおりである。</p>
</div>