<% @houses.each do |house| %>
  <div class="page">
    <table class="table table-bordered" style="font-size:10px;">
      <tr>
        <td colspan="11">建物傾斜測定結果表</td>
        <td>建物No.<%= house.id %></td>
      </tr>
      <tr>
        <td rowspan="2">傾斜種類</td>
        <td rowspan="2">測点</td>
        <td rowspan="2">測定箇所</td>
        <td colspan="4">事前測定値（mm）</td>
        <td colspan="4">事後測定値（mm）</td>
        <td rowspan="2">備考</td>
      </tr>
      <tr>
        <td colspan="2">東西方向</td>
        <td colspan="2">南北方向</td>
        <td colspan="2">東西方向</td>
        <td colspan="2">南北方向</td>          
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>          
      </tr>
    </table>
    <p>※測定値については±1mmの範囲で測定誤差が生じる場合があります。</p>
  </div>
<% end %>